<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <title>todo</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-card class="mx-auto" max-width="500">
                <v-toolbar color="dark" dark>
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>todo</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon class="tooltip">
                        <v-icon>mdi-checkbox-marked-circle</v-icon>
                        <span class="description_top">完了したタスクを削除</span>
                    </v-btn>

                    <v-btn icon @click="removeAll">
                        <v-icon>mdi-eye</v-icon>
                    </v-btn>

                    <v-btn icon class="tooltip" @click="showTextBox = !showTextBox">
                        <v-icon >mdi-plus-circle-outline</v-icon>
                        <span class="description_top">タスクを追加</span>
                    </v-btn>

                </v-toolbar>

                <v-list two-line>
                    <v-list-item-group v-model="selected" active-class="black-text">
                        <template v-for="(todo, index) in ToDoList">
                            <v-list-item :key="todo.todo">
                                <template v-slot:default="{ active }">
                                    <v-checkbox v-model="todo.check" @click.stop></v-checkbox>

                                    <v-list-item-content>
                                        <v-list-item-title v-text="todo.todo" ></v-list-item-title>
                                    </v-list-item-content>

                                    <v-btn icon @click.stop="edit(index)">
                                        <v-icon>mdi-square-edit-outline</v-icon>
                                    </v-btn>

                                    <v-list-item-action>
                                        <v-icon v-if="important=true" color="grey lighten-1" @click.stop="important=false">mdi-star-outline</v-icon>
                                        <v-icon v-else color="yellow darken-3" @click.stop="important=true">mdi-star</v-icon>
                                    </v-list-item-action>

                                </template>

                                

                            </v-list-item>
                            <v-divider v-if="index < ToDoList.length - 1" :key="index"></v-divider>
                        </template>
                    </v-list-item-group>
                    
                    <div v-if="showTextBox">
                        <input type="text" v-model="inputToDo" @keyup.enter="add">
                    </div>
                </v-list>
            </v-card>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data: {
                ToDoList: [
                    {
                        todo: "a",
                        check: false,
                        class: "NotComp",
                        important: false,
                    },
                    {
                        todo: "b",
                        check: false,
                        class: "NotComp",
                        important: false,
                    },
                    {
                        todo: "aaaaaaaaaaaaaaaaaaaa",
                        check: false,
                        class: "NotComp",
                        important: false,

                    }
                ],
                inputToDo: "",
                showTextBox: false,
                
            },
            methods: {
                add: function () {
                    if (this.inputToDo != "") {
                        this.ToDoList.push({
                            todo: this.inputToDo,
                            check: false,
                            class: "NotComp",
                            important: false,

                        })
                        this.inputToDo = "",
                        this.showTextBox = false
                    }
                },
                remove: function (index) {
                    this.ToDoList.splice(index, 1)
                }
            }

        })
    </script>
</body>

</html>