<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="../static/CSS/style.css" rel="stylesheet">

    <title>todo</title>
</head>

<body>
    <div id="app">
        <v-app>

            <v-card class="mx-auto"max-width="500">
                <v-toolbar color="dark" dark>
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>todo</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon class="tooltip" @click="removeAll">
                        <v-icon>mdi-checkbox-marked-circle</v-icon>
                        <span class="description_top">完了済みタスクを削除</span>
                    </v-btn>

                    <v-spacer></v-spacer>
                    <v-btn icon @click="changeVisible">
                        <v-icon v-if="change">mdi-eye</v-icon>
                        <v-icon v-else>mdi-eye-off</v-icon>
                    </v-btn>

                    <v-btn icon class="tooltip" @click="showTextBox = !showTextBox">
                        <v-icon>mdi-plus-circle-outline</v-icon>
                        <span class="description_top">タスクを追加</span>
                    </v-btn>

                    <form name="myForm" action="/todo-list" method="POST">
                        <v-btn icon class="tooltip" @click="save"><v-icon>mdi-content-save</v-icon>
                            <span class="description_top">保存</span
                        </v-btn>
                        <input type="hidden" id="tasks" name="tasks" value="">
                    </form>

                </v-toolbar>

                <v-list two-line>
                    <v-list-item-group v-model="selected" active-class="black-text">
                        <template v-for="(todo, index) in ToDoList">
                            <v-list-item :key="todo.todo" v-if="todo.visible"   >
                                <template v-slot:default="{ active }" >
                                    <v-checkbox v-model="todo.check" @click.stop></v-checkbox>

                                    <v-list-item-content @click.stop="">
                                        <v-list-item-title v-text="todo.todo"></v-list-item-title>
                                    </v-list-item-content>

                                    <v-btn icon @click.stop="edit(index)">
                                        <v-icon>mdi-square-edit-outline</v-icon>
                                    </v-btn>

                                    <v-list-item-action>
                                        <v-checkbox on-icon="mdi-star" off-icon="mdi-star-outline" color="yellow darken-3" v-model="todo.important" light></v-checkbox>
                                    </v-list-item-action>

                                </template>

                            </v-list-item>
                            <v-divider v-if="index < ToDoList.length - 1" :key="index"></v-divider>
                        </template>
                    </v-list-item-group>

                    <div v-if="showTextBox">
                        <input type="text" v-model="inputToDo" @keyup.enter="add">
                    </div>
                </v-list>
            </v-card>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data: {
                selected:null,
                ToDoList: {{list | safe}},
                inputToDo: "",
                showTextBox: false,
                change: true,
            },
            delimiters: ["[[","]]"],
            methods: {
                save : function () {
                    var str = "[";
                    this.ToDoList.forEach(obj => {
                        str += "{todo:\"" + obj.todo;
                        str += "\",check:" + obj.check;
                        str += ",important:" + obj.important;
                        str += ",visible:" + obj.visible;
                        str += "},";
                    });
                    str += "]";
                    document.getElementById("tasks").value=str;
                    document.myForm.submit();

                },
                add: function () {
                    if (this.inputToDo != "") {
                        this.ToDoList.push({
                            todo: this.inputToDo,
                            check: false,
                            important: false,
                            visible: true,
                        })
                    this.inputToDo = "",
                    this.showTextBox = false;
                    this.save();    
                    }
                },
                remove: function (index) {
                    this.ToDoList.splice(index, 1)

                },
                removeAll: function () {
                    for (var i = 0; i < this.ToDoList.length; i++) {
                        if (this.ToDoList[i].check) {
                            this.ToDoList.splice(i, 1);
                            i--;
                        }
                    }
                    this.save();
                },
                changeVisible: function () {
                    if (this.change) {
                        for (var i = 0; i < this.ToDoList.length; i++) {
                            if (this.ToDoList[i].check) {
                                this.ToDoList[i].visible = false;
                            }
                        }
                    } else {
                        for (var i = 0; i < this.ToDoList.length; i++) {
                            this.ToDoList[i].visible = true;
                        }
                    }
                    this.change = !this.change
                }
            },

        })
    </script>
</body>

</html>