<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="../static/CSS/style.css" rel="stylesheet">

    <title>todo</title>
</head>

<body>
    {{ ToDoList }}
    {{ToDoList[1].todo}}
    <div id="app">
        <li v-for="(todo, index) in ToDoList" :key="todo.todo">
            <label>
                <input type="checkbox" value="index" v-model="todo.check" @click="chageClass(index)">
                <p :class="todo.class">{{ToDoList[index].todo}}</p>
            </label>
            <v-icon @click="remove(index)">mdi-trash-can-outline</v-icon>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            delimiters: ['[[', ']]'],
            data: {
                ToDoList: {{ ToDoList }}
            }
        })
</body>

</html>