<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <title>todo</title>
</head>

<body>
    <div id="app">
        <v-app>
            <!-- <todo-list></todo-list> -->
            <transition-group>
                <li v-for="(todo, index) in ToDoList" :key="todo.todo">
                    <label>
                        <input type="checkbox" value="index" v-model="todo.check" @click="chageClass(index)">
                        <p :class="todo.class">{{todo.todo}}</p>
                    </label>
                        <v-icon @click="remove(index)">mdi-trash-can-outline</v-icon>
                </li>
            </transition-group>
            <input type="text" v-model="inputToDo"  @keyup.enter="add">

        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data: {
                ToDoList: [
                    {
                        todo: "LUSH",
                        check: false,
                        class: "NotComp",
                        important: false,
                    },
                    {
                        todo: "イハダ",
                        check: false,
                        class: "NotComp",
                        important: false,
                    }
                ],
                inputToDo: "",
            },
            methods: {
                add: function () {
                    if (this.inputToDo != "") {
                        this.ToDoList.push({
                            todo: this.inputToDo,
                            check: false,
                            class: "NotComp",
                            important: false,

                        })
                        this.inputToDo = ""
                    }
                },
                remove: function (index) {
                    this.ToDoList.splice(index, 1)
                },
                chageClass: function (index) {
                    if (!this.ToDoList[index].check) {
                        this.ToDoList[index].class = "complete"
                    } else {
                        this.ToDoList[index].class = "NotComp"
                    }
                }
            }

        })
    </script>
</body>

</html>